<!DOCTYPE html>
<html lang = "en">
<head>
   <title>{% block title %}{% endblock %}</title>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='forms.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='tables.css') }}">
</head>
   <body>
      <header>
         <div class="container">
            <ul class="nav">
                <li>
                  <a href = "{{ url_for('view_employees.index') }}">Main Page</a>
               </li>
               <li>
                  <a href = "{{ url_for('view_employees.show_all_emp') }}">Employees</a>
               </li>
               <li>
                  <a href = "{{ url_for('crud_emp.new_emp') }}">Add Employee</a>
               </li>
               <li>
                  <a href = "{{ url_for('view_departments.show_all_dep') }}">Departments</a>
               </li>
               <li>
                  <a href = "{{ url_for('crud_dep.new_dep') }}">Add Department</a>
               <li>
               </ul>
            </div>
         </header>
         <hr/>
         <section class="main">
         <div class="container">
             <div class="main_part">
             {%- for category, message in get_flashed_messages(with_categories = true) %}
               <div class = "alert">
                  {{ message }}
               </div>
             {%- endfor %}
             {% block add %}{% endblock%}
            </div>
      </div>
      </section>
   </body>
</html>