{% extends "base.html" %}
{% block title %}
   {% if deps %}
       Edit department
   {% else %}
       Add department
   {% endif %}
{% endblock %}
{% block add %}
   <div class="add">
      <form method = "post" {% if deps %} action="{{ url_for('crud_dep.edit_dep', _id=deps.id) }} {% endif %}">
         <input type = "text" name = "name" {% if deps %} value="{{ deps.name }}" {% endif %} placeholder = "Name" /><br>
         <input class="button"  type = "submit" value = "Submit" />
      </form>
   </div>
{% endblock %}