{% extends "base.html" %}
{% block title %}All departments{% endblock %}
{% block add%}
   <table>
      <thead>
         <tr>
            <th>Name</th>
            <th>Number of Employees</th>
            <th>Average Salary</th>
         </tr>
      </thead>
      <tbody>
         {% for depart in deps %}
            <tr>
               <td><a href="/department/{{ depart.id }}">{{ depart.name }}</a></td>
               <td>{{ number }}</td>
               <td>{{ salary }}</td>
               <td><a href="/department/{{ depart.id }}/edit">Edit</a></td>
               <td><a href="/department/{{ depart.id }}/del">Delete</a></td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock %}