{% extends "base.html" %}
{% block title %}All employees{% endblock %}
{% block add %}
   <table>
      <thead>
         <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Date of Birth</th>
         </tr>
      </thead>
      <tbody>
         {% for employee in employees %}
            <tr>
               <td><a href="/employee/{{ employee.id }}">{{ employee.name }}</a></td>
               <td>{{ employee.department }}</td>
               <td>{{ employee.salary }}</td>
               <td>{{ employee.birth }}</td>
               <td><a href="/employee/{{ employee.id }}/edit">Edit</a></td>
               <td><a href="/employee/{{ employee.id }}/del">Delete</a></td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock %}