{% extends "base.html" %}
{% block title %}
   {% if employee %}
       Edit employee
   {% else %}
       Add employee
   {% endif %}
{% endblock %}
{% block add %}
    <div class="add">
       <form method = "post">
            <input type = "text" name = "name" placeholder = "Name" {% if employee %} value="{{ employee.name }}" {% endif %} /><br>
            <select class="select_menu" name="department">
                {% for dep in deps %}
                    <option value="{{dep.name}}">{{dep.name}}</option>
                {% endfor %}
            </select>
            <input type = "text" name = "salary" placeholder = "Salary" {% if employee %} value="{{ employee.salary }}" {% endif %} /><br>
            <input type = "date" name = "birth" {% if employee %} value="{{ employee.birth }}" {% endif %} required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" /><br>
            <input type = "submit" class="button" value = "Submit" />
       </form>
    </div>
{% endblock %}